---
layout: default
title: Cores - <Wipe> @ Gallywix
---

{% include header.html %}
{% include menu.html %}

<div id="page" class="container">
  <div class="row">
    <div class="col wow-dialog wow-rock-background">
      <div class="wow-dialog-content">
        <h1 style="text-align: center;">Core de Raid da &lt;Wipe&gt; @ Gallywix</h1> <br>
        <p>
          Nosso grupo de core esta atualmente 10/11 M Antorus The Burning Throne e segue progredindo no Argus M.
          <ul>
            <li>Estamos recrutando: Tanks, Heales e DPSs</li>
            <li>Horários de Raid: Seg, Ter e Qua 20:00 - 23:00</li>
            <li>
              Se quiser wipar conosco é só mandar um whisp para <b>Rudoxi</b> (btag: <b>Rudiney#1958</b>) ou <b>Drain</b> (btag: <b>Goodwaer#1387</b>) ou <b>Arimatham</b> (btag: <b>Arimatham#1881</b>)
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>