---
layout: default
title: Guias - <Wipe> @ Gallywix
body_classes: argus_spikes_bg
---

{% include header.html %}
{% include menu.html %}

<div id="page" class="container">
  <div class="row">
    <div class="col wow-dialog wow-paper-background">
      <div class="wow-dialog-content">
        <h2>Battle For Azeroth:</h2>
        <ul>
          <li><a href="/guias/dicas_upar_em_bfa.html">Dicas para upar em BfA</a></li>
        </ul>
        <h2>Antorus The Burning Throne:</h2>
        <ul>
          <li><a href="/guias/argus_mythic.html">Mythic Argus</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>