---
layout: default
title: Sobre - <Wipe> @ Gallywix
body_classes: argus_spikes_bg
---

{% include header.html %}
{% include menu.html %}

<div id="page" class="container">
  <div class="row">
    <div class="col wow-dialog wow-rock-background">
      <div class="wow-dialog-content">
        <h1 style="text-align: center;">Sobre a &lt;Wipe&gt; @ Gallywix</h1> <br>

        <p>
          A &lt;Wipe&gt; é uma guild de WoW no servidor Gallywix formada pelo antigo core mítico da guild Legião Sombria.
        </p>

        <p>
          Este core encerrou Legion <b>10/11 Mítico em Antorus the Burning Throne</b> e agora cria uma Guild focada em PvE buscando o <b>Cutting Edge</b> em Battle for Azeroth.
        </p>

        <br>

        <p>
          Então se você faz parte deste grupo seleto de jogadores do servidor Gallywix e tem interesse em <b>progressão PvE</b>, em <b>Raidar</b>, em <b>Míticas +</b> e ter os maiores item levels talvez você encontre nesta guild outros malucos como você.
        </p>

        <p>
          <ul>
            <li>
              Se quiser wipar conosco é só mandar um whisp para <b>Rudoxi</b> (btag: <b>Rudiney#1958</b>) ou <b>Drain</b> (btag: <b>Goodwaer#1387</b>) ou <b>Arimatham</b> (btag: <b>Arimatham#1881</b>)
            </li>
            <li>Para mais detalhes sobre nossos cores de Raid <a href="/cores.html">clique aqui.</a></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>