---
---

html, body {
  background: black;
  color: white;
  cursor: url('/assets/images/wow-cursor.png'), auto;
  font-family: 'Fira Sans', sans-serif;
  min-height: 100vh;
}

.argus_spikes_bg {
  background: url('/assets/images/argus_spikes.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0;
  background-size: cover;
}

.antorus_sky_bg {
  background: url('/assets/images/antorus_sky.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0;
  background-size: cover;
}

.wow-dialog {
  border-image: url('/assets/images/DialogFrame-Corners.png') 20 stretch;
  border-style: solid;
  border-width: 25px;
  font-weight: 200;
  text-shadow: 1px 1px 1px black;
  padding: 0;

  .wow-dialog-content {
    padding: 10px;
    margin: -12px;
    border-radius: 5px;

    background: rgba(0,0,0,0.75);
  }

  a {
    text-shadow: none;
  }

  &.wow-rock-background {
    .wow-dialog-content {
      background-image: url('/assets/images/UI-Background-Rock.PNG');
      text-shadow: -1px -1px 1px grey;
    }
  }

  &.wow-paper-background {
    .wow-dialog-content {
      background-image: url('/assets/images/question-background.PNG');
      color: #3c2a1f;
      text-shadow: 0px 0px 1px rgba(255,255,255,0.7);
      font-weight: normal;
    }

    a {
      color: #3c2a1f;
    }
  }
}

.wow-btn {
  border-image: url('/assets/images/ButtonBg.png') 45 stretch;
  border-style: solid;
  border-width: 10px;
  line-height: 40px;

  > span {
    padding: 0px 5px;
    color: #fdca25;
    background-image: url('/assets/images/ButtonCenterBg.png');
    background-size: cover;
    white-space: nowrap;
  }

  &:active {
    border-image: url('/assets/images/PressedButtonBg.png') 50 stretch;
    border-style: solid;

    > span {
      text-shadow: 1px 1px rgba(0,0,0,0.5), -1px -1px rgba(255,255,255,0.2);
      background-image: url('/assets/images/PressedButtonCenterBg.png');
    }
  }
}

#header {
  border-bottom: none;

  #header-content {
    height: 200px;
    position: relative;

    border-radius: 5px;
    background-image: url('/assets/images/HeaderBg.png');
    background-position: center center;
    background-size: cover;

    h1 {
      position: absolute;
      right: 20px;
      bottom: 10px;
    }
  }
}


#menu {
  margin-top: 3px;
  text-align: center;
}

ul, ol {
  padding-left: 20px;
}

a:hover {
  text-decoration: none;
}